
#content {overflow: auto;}
#nav {
margin: 1%;}
li {
display: inline;
padding: 0.5em;}
#nav{
background-color: #ffffff;
padding: 0.5em 0;}


body {
	color: #665544;
	background-color: #fefbd8;
	background-image: url("../images/semi-transparent-background.png");
	font-family: normal normal 300 normal 14px / 20px "Open Sans", sans-serif;
	text-align: center;
}

.heading {
	font-family:'Roboto Slab', serif;
	text-align: center;
}

.container {
	text-align: center;
}
.mainheader {
	color: #262626;
	font-family: 'Cormorant Garamond', serif;
	font-size: 32px;
	font-weight: bold;
}
.mainbody {
	color: #4d4d4d;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

